#menu
{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
	width: 100%;
	height: 40px;
	background-color: aqua;

}

.menuButton
{
    color:black;
    text-align:center;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 24px;
    position: relative;
    top: 15%;
    
}

.menuButton:hover
{
    background-color: white;
    color: black;
}

section
{
    margin-left: 20%;
    margin-right: 20%;
}

html
{
    background-color:aquamarine;
    padding: 0px;
    margin: 0px;
    border: 0ch;
}

.leftPicture
{
    width: 60%;
 
}

.rightPircture
{
    width: 60%;
 
}

.rightText
{
    width: 40%;
 
}

.leftText
{
    width: 40%;
 
}
tr
{
    height: 50px;
}
